<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zm.paipai">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        </activity>
        <activity android:name="com.example.acer.framework.Gerenzhuye" />
        <activity android:name="com.example.acer.framework.Login"/>
        <activity android:name="com.example.acer.framework.ZhuceActivity"/>
        <activity android:name="com.example.acer.framework.GetpersonInfo" />
        <activity android:name="com.example.acer.framework.Sousuoinfo"/>
        <activity android:name="com.example.acer.framework.vp.ViewPager_test">
        </activity>
        <activity android:name=".Vp_Activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login_zhuce.Login_zhuce_Activity" >
        </activity>
        <activity android:name=".pinglunactivity.listActivity">
        </activity>
        <activity android:name=".pinglunactivity.XinxiActivity">

        </activity>
    </application>

</manifest>